.layout {
  .header {
    min-height: 200px;
    background: antiquewhite;
  }

  .main {
    min-height: 500px;
    border: 1px greenyellow solid;
  }

  .footer {
    min-height: 380px;
    background: black;
  }
}
