.container {
  font-size: vw(20);

  .block1 {
    height: 600px;
    background: rebeccapurple;
  }

  .block2 {
    height: 600px;
    background: red;
  }

  .block3 {
    height: 600px;
    background: gray;
  }

  .block4 {
    height: 600px;
    background: bisque;
  }

  .block5 {
    height: 600px;
    background: goldenrod;
  }
}
